.ContactItem{
    width: 100%;
    align-self: center;
    .contact {
        display: grid;
        background-color:#f0e4da; 
        grid-template-columns: 25% 75%;
        align-items: center;
        padding: 0.56rem 0;
        border-bottom: #2d283e 4px solid;
        .contact-icon {
            margin-left: 1rem;
            padding: 0.4rem;
            font-size: 2.7rem;
            cursor: pointer;
        }
        .right-items {
            padding:0.4rem;
            h6 {
                font-size: 1.15rem;
                font-weight: 500;
                color: black;
            }
            p {
                font-size: 1rem;
            }
        }
    }
}

.ContactPage{
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 3rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.3;
    @media screen and (max-width: 1270px){
        grid-template-columns: repeat(1, 1fr);
        .map-sect{
            width: 100%;
            height: 50vh;
            margin-bottom: 1rem;
        }
    }
    .contact-sect{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 1.4rem;
        width: 100%;
    }
}
.right-items p {
    color: #696461;
    margin-top: 3px;
    font-size: 0.82rem;
}
.description {
    color: #2d283e;
    h5 {
        font-size: 1.5rem;
        margin-bottom: 0.78rem;
    }
}

.contact-icon {
    color: #2d283e;
    border: 1px solid gray;
    transition: all 500ms;
}

.contact-icon:hover {
    color: #6382dd;
    border: 1px solid #6382dd;
}
// .map-sect{
//     width: 97%;
//     padding: 1rem;
//     background-color:#191D2B;
//     iframe{
//         width: 100%;
//         height: 100%;
//     }
// }

.contact-sect{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.title{
    margin-bottom: 5rem;
}