@import "colors";

.ContactItem{
    width: 100%;
    align-self: center;
    .contact {
        display: grid;
        border-radius: 10px;
        background-color: $darkgray; 
        grid-template-columns: 25% 75%;
        align-items: center;
        padding: 0.56rem 0;
        .contact-icon {
            margin-left: 1rem;
            padding: 0.4rem;
            font-size: 2.7rem;
            cursor: pointer;
            color: $lightgray;
            transition: all linear 400ms;
            border: 1px solid $lightgray;
        }
        .right-items {
            padding:0.4rem;
            h6 {
                font-size: 1rem;
                font-weight: 400;
                color: $beige;
            }
            p {
                font-size: 0.8rem;
                letter-spacing: 0.04rem;
            }
        }
    }
    &:hover {
        .contact-icon {
            color: $primary;
        }
    }
}

.ContactPage{
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 3rem;
    line-height: 1.3;
    @media screen and (max-width: 1270px){
        grid-template-columns: repeat(1, 1fr);
        .map-sect{
            width: 100%;
            height: 50vh;
            margin-bottom: 1rem;
        }
    }
    .contact-sect{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 1.4rem;
        width: 100%;
    }
}
.right-items p {
    margin-top: 3px;
    font-size: 0.82rem;
}
.description {
    color: $beige;
    h5 {
        font-size: 1.3rem;
        font-weight: 400;
        margin-bottom: 0.78rem;
    }
    a {
        color: $primary;
    }
}

.contact-sect{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.title{
    margin-bottom: 5rem;
}