a:link, a:hover, a:visited, a:active {
    text-decoration: none;

}
.ServicesSection{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
    // border: rgb(93, 218, 62) solid 2px;
    img {
        // border: red solid 2px;
        width: 100%;
        padding: 30px;
    }
    p {
        font-size: 0.8rem;
    }
    .job-title {
        // border-bottom: 2px red solid;
        padding: 5px 13px;
        border-bottom: 2px $primary solid;
    }
    .service{
        // border: #242e8d solid 2px;
        transition: all .4s ease-in-out;
        &:hover{
            border-bottom: 5px solid $primary;
        }
    
    }
}

.services-container{
    // border:#702c2c solid 2px;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 4.2rem 0 6rem 0;
    @media screen and (max-width:1400px){
        margin-bottom: 2rem;
    }
}
