a:link, a:hover, a:visited, a:active {
    text-decoration: none;

}
.ServicesSection{
    .service{
        font-family: 'Open sans';
        width: 95%;
        //background-color: #f0e9e1;
        // border-left: 1px solid #2e344e;
        // border-right: 1px solid #2e344e;
        // border-bottom: 1px solid #2e344e;
        border-bottom: 5px solid #2e344e;
        transition: all .4s ease-in-out;
        @media screen and (max-width:1400px){
            width: 100%;
            margin-bottom: 4rem;
        }
        &:hover{
            border-bottom: 5px solid #6382dd;
            background-color: #f0e9e1;
        }
        img {
            width: 13rem;
            height: auto;
        }
        
        .service-content{
            padding: 1rem;
            span {
                color: black;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.9rem;
                white-space: pre;
                text-decoration: none;
            }
            .s-date {
                font-size: 1rem;
                font-weight: 400;
            }
            .s-list {
                width: 80%;
                padding-left: 20px;
                padding-top: 10px;
                font-size: 1rem;
            }
            .s-desc {
                padding-top: 10px;
                font-size: 0.95rem;
                color:#6382dd;
            }
            p {
                color: black;
                font-weight: 300;
                text-transform: none;
                text-decoration: none;
            }
            .s-title{
                font-size: 1.3rem;
                font-weight: 400;
                position: relative;
                padding-bottom: 1rem;
                margin: 1rem 0;
                color: black;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 30%;
                    height: 1px;
                    background-color: #2e344e;
                }
            }
        }
    }
}

.servives-container{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    @media screen and (max-width:1400px){
        flex-direction: column;
        margin-bottom: 2rem;
    }
}
