a:link, a:hover, a:visited, a:active {
    text-decoration: none;

}
.ServicesSection{
    .service{
        border-radius: 15px;
        background-color: $darkgray;
        width: 95%;
        border-bottom: 5px solid $beige;
        transition: all .4s ease-in-out;
        margin-bottom: 4rem;
        &:hover{
            border-bottom: 5px solid $primary;
        }
        img {
            width: 8rem;
            height: auto;
            padding: 0.2rem;
        }    
        .service-content{
            padding: 2rem;
            span {
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.9rem;
                white-space: pre;
                text-decoration: none;
            }
            .s-list {
                width: 95%;
                padding-left: 2.5%;
                padding-top: 10px;
            }
            .s-text, .s-list {
                font-size: 1rem;
                line-height: 1.5rem;
            }
            .s-title{
                font-size: 1.3rem;
                font-weight: 400;
                position: relative;
                margin: 1rem 0;
            }
        }
    }
}

.services-container{
    margin-top: 4.2rem;
    @media screen and (max-width:1400px){
        margin-bottom: 2rem;
    }
}
