.skills-container {
    text-align: center;
    justify-self: center;
    table {
        border-collapse: collapse; 
        tr.firstRow {
            height: 13vh;
            white-space: nowrap;
        }
        h5 {
            font-size: 1.2rem;
            font-weight: 500;
        }
        img {
            height: 10vh;
            width: auto;
        }
        .skill-icon {
            font-size: 10vh;
        }
        .skill-icon, img { 
            margin-bottom: 1vh;
            margin-top: 1vh;
        }
    }
}