.skills-container {
    // border:red solid 2px;
    display: flex;
    flex-direction: column;
    text-align: center;
    .skill-icon {
        font-size: 10rem;
    }
    img {
        width: 50%;
        margin-left: 25%;
        margin-bottom: 20px;
    }
    span { font-weight: 300; }
}

.skillContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    row-gap: 2.5rem;
    margin: 4rem 0 4rem 0;
    //border: red 2px solid;
    height: fit-content;
    @media screen and (max-width: 1100px){
        grid-template-columns: repeat(1, 1fr);
    }
}