.Title{
    text-transform: uppercase;
    font-family: 'Nanum Pen Script';
    font-size: 2.3rem;
    color: $beige;
    position: relative;
    padding-bottom: 1rem;
    letter-spacing: 3px;
    &::before {
        content: "";
        bottom: 0;
        position: absolute;
        left: 0;
        background-color: $beige;
        width: 6rem;
        opacity: 0.4;
        height: .4rem;
        border-radius: 50px;
       
    }
    &::after {
        content: "";
        bottom: 0;
        position: absolute;
        left: 0;
        background-color: $beige;
        width: 3rem;
        height: .4rem;
        border-radius: 50px;
    }
    span {
        position: absolute;
        top: 1%;
        left: 0;
        color: $beige;
        font-size: 5rem;
        opacity: 0.08;
    }
}